/*
/* Principal Stylesheet for VNRC
/*


/*********************
/* COLORS  &  MIXINS
/*********************

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')

// imports Adobe Garamond
@import url("https://use.typekit.net/znn3hzy.css")

//@import url('https://fonts.googleapis.com/css?family=Padauk')

$headingStack: 'Open Sans', sans-serif
$arial: 'Arial', sans-serif
$serif: adobe-garamond-pro, serif

// Colors
$lightgreen: #78a13f
$green: #2A6A35
$orange: #d14b27
$grey: #6f7d74
$lightgrey: #f2f2f2
$black: #333333
$bodytextcolor: #2b2b2b


// Button Mixins
=whitebutton
  background: #fff
  color: $green
  border: 2px solid #fff
  &:hover
    background: rgba(255,255,255, .5)
    border: 2px solid #fff
    color: $green

=orangebutton
  background: $orange
  color: #fff
  border: 2px solid $orange
  //font-size: 1.25rem
  //padding: .5rem .75rem
  font-weight: bold
  &:hover
    transition: all .3s ease-in-out
    background: rgba(209, 74, 39, .5)
    border: 2px solid $orange
    color: #fff

=greenbutton
  background: $lightgreen
  color: #fff !important
  border: none
  text-decoration: none !important
  font-weight: bold
  &:hover
    transition: all .3s ease-in-out
    background: #9dc16b
    border: none
    color: #fff

=hollowbutton($color)
  background-color: transparent
  border: 2px solid $color
  padding: .85rem 1rem
  color: $color
  font-weight: bold
  font-size: 1.1rem
  border-radius: 30px
  padding: .5rem 1.5rem
  line-height: 20px
  &:hover
    transition: all .3s ease-in-out
    background-color: $color
    color: $bodytextcolor


=cssTransition($secs)
  transition: all $secs ease-in-out

=arrow($size, $color)
  border-top: $size solid transparent
  border-bottom: $size solid transparent
  border-left: $size solid $color
  display: inline-block
  height: 0
  width: 0

=circleArrow($circleColor, $arrowColor)
  .circle
    background-color: $circleColor
    border-radius: 20px
    width: 20px
    height: 20px
    margin-left: 5px
    i
      color: $arrowColor
      padding: .25rem

=arrowHover
  margin-left: 10px

@keyframes push
  50%
    transform: scale(0.8)

@keyframes outandback
  50%
    transform: translateX(10px)
  100%
    transform: translateX(0)

=greenarrow
  background: url('../images/svg/greenarrow.svg')
  height: 18px
  width: 18px
  display: block
  float: right
  line-height: 3rem
  background-size: contain
  margin: 15px 0 0 5px

=whitearrow
  background: url('../images/svg/white_arrow.svg')
  height: 18px
  width: 18px
  display: block
  float: right
  line-height: 3rem
  background-size: contain
  margin: 2px 0 0 5px

=lightTitle
  text-transform: uppercase
  font-weight: 300
  font-size: 2.25rem

=sectionTitle
  text-transform: uppercase
  font-weight: 300
  font-size: 2.25rem
  margin-bottom: 3rem
  text-align: center

=readmore
  float: right
  color: $bodytextcolor
  font-weight: bold
  line-height: 3rem
  margin-right: 5px
  &:hover
    opacity: .75
    margin-right: 0
    .greenarrow
      +arrowHover

=matte
  width: 150px
  height: 150px
  border-radius: 75px
  background-size: cover
  background-position: 29% 19%
  float: left
  margin-right: 1rem

=list-n-TitleContent
  padding: 0
  h4
    color: $green
    text-transform: uppercase
    border-top: 1px solid #bbd09d
    padding-top: 2rem
    &:first-child
      padding-top: 0
      border-top: 0
  p
    margin-bottom: 2rem

/*********************
/* GENERAL STYLES
/*********************

*
  +cssTransition(.3s)
// Sets REM root size to 16px
html
  font-size: 100%

body
  color: $bodytextcolor

/*********************
/* LINK STYLES
/*********************
a, a:visited
  // Mobile tap color
  color: $lightgreen
  &:link
    //Highlight links on iOS, Similar to :hover for mobile devices.
    -webkit-tap-highlight-color: $lightgreen
  &:hover
    color: $green

.entry-content a, p.tags a
  color: $lightgreen
  &:hover
    color: #206a80

// Default Button
a.button
  +orangebutton
  .arrow
    +arrow(8px, #fff)
  &:hover
    color: #fff
    .arrow
      +arrow(8px, $green)

.wpcf7-submit
  background: #cccccc
  font-size: 1.25rem
  color: #FFFFFF
  border-radius: 5px
  font-weight: bold
  text-transform: uppercase
  border: 0
  padding: 0.85rem 1rem
  cursor: pointer
  &:hover
    color: #fff
    background-color: $green

// Orange Button
.button.orange
  +orangebutton

// White Button
.button.white
  +whitebutton

// Green Button
.button.green
  +greenbutton

/*********************
/* H1, H2, H3, H4, H5 P STYLES
/*********************
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5
  font-family: $headingStack
  font-weight: bold
  color: $bodytextcolor
  a
    text-decoration: none

h1, .h1
  line-height: 2.8rem

h2, .h2

h3, .h3

h4, .h4

h5, .h5

p
  line-height: 1.5rem
  font-size: 1rem

ul.check
  list-style: none
  margin-left: 0
  li
    padding-left: 35px
    background: url(../images/greencheck.png) no-repeat 0px 2px
    background-size: 27px
    font-weight: bold
    margin-bottom: .25rem

blockquote
  font-size: 1.75rem
  font-weight: 300
  font-style: italic
  margin: 0 0 2rem
  position: relative
  line-height: 2.5rem
  border-left: 0
  color: #3e3ee3
  p
    &:after, &:before
      content: "\0022"
      position: absolute
      font-size: 1.5rem
    &:before
      left: 0

select
  border: 1px solid $green
  color: $green

.search
  position: relative
  input
    text-indent: 32px
    border-radius: 25px
    border-color: #fff
  .fi-magnifying-glass
    font-size: 1.75rem
    color: #fff
    margin-left: .5rem
// Full Screen Search
.reveal.full
  padding: 8rem
  background-color: rgba(255, 255, 255, .9)
  .close-button
    right: 2rem
    top: 2rem
    font-size: 2rem
    color: $green
  input[type="search"]
    border: 0
    box-shadow: none
    border-radius: 0
    background-color: #fff
    padding: 2rem
    font-size: 1.5rem
    border-bottom: 5px solid #78a13f
    color: #fff
    &:focus
      background-color: rgba(49, 76, 54, 0.5)
      border-bottom: 5px solid #78a13f
      color: #fff
  input[type="submit"]
    float: right

hr
  margin: 4rem auto
  width: 80%

/*********************
/* ELEMENTS
/*********************
ul.accordion
  .accordion-title
    text-transform: uppercase
    font-weight: 400
    &:hover
      color: $bodytextcolor
  .accordion-item:first-child > :first-child
    border-radius: 3px
  .accordion-item:last-child:not(.is-active) > .accordion-title
    border-radius: 3px
  .accordion-title::before
    margin-top: -1rem

// Breadcrumbs
#crumbs
  margin-bottom: 2rem

// Tabs
ul.tabs
  .tabs-title > a
    font-size: .9rem
    padding: 1rem 1.25rem
  .tabs-title > a:focus, .tabs-title > a[aria-selected='true']
    font-size: 1.25rem

/*********************
/* PAGINATION
/*********************

.greenarrow
  +greenarrow
  &.excerpt
    margin: 4px 0 0 5px

.excerpt-read-more
  float: left
  display: block
  color: #333
  font-weight: 500
  text-transform: uppercase
  &:hover
    opacity: .75
    .greenarrow
      +arrowHover

.catLink a.readmore
  float: right

/*********************
/* HEADER
/*********************

@include breakpoint(medium)
  .navWrap
    .top-bar
      padding: 1rem 0 0
    // Hover state for Main Nav
    &:hover
      background-color: #fff
      .top-bar-left #logo a
        img.logo.white
          display: none
        img.logo.green
          display: block
      a.search i.fi-magnifying-glass
        color: $bodytextcolor
      #mega-menu-wrap-main-nav #mega-menu-main-nav
        li.primary a.mega-menu-link
          color: $bodytextcolor
        li.facebook a.mega-menu-link,  li.twitter a.mega-menu-link
          color: $bodytextcolor
        li.informed a.mega-menu-link
          background-color: transparent
          border: 2px solid $bodytextcolor
          color: $bodytextcolor
          &:hover
            transition: all .3s ease-in-out
            background-color: $bodytextcolor
            color: #fff
      .button.informed
        +hollowbutton($bodytextcolor)
        &:hover
          color: #fff


// Logo
.top-bar-left
  #logo
    width: 175px
    position: relative
    height: 85px
    a
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      img.logo.white
        display: none

// Mega Menu
.top-bar-right
  .button.informed, .button.search
    +hollowbutton(#fff)
  #mega-menu-wrap-main-nav
    float: left
    #mega-menu-main-nav
      float: left
      & > li.mega-menu-megamenu > ul.mega-sub-menu
        margin-top: 20px
        border-bottom: 1px solid #ebebeb
      li.primary a.mega-menu-link
        padding: 0 2rem
      li.facebook a.mega-menu-link,  li.twitter a.mega-menu-link
        padding: 0 5px
        i
          font-size: 2rem
      li.facebook a.mega-menu-link:hover i
        color: #3b5998
      li.twitter a.mega-menu-link:hover i
        color:  #38A1F3
      li.twitter a.mega-menu-link
        margin-right: 1rem
      li.donate a.mega-menu-link
        margin-right: .5rem
        +orangebutton
        border-radius: 20px
        padding: .5rem 1.5rem
        line-height: 20px
      // Active Menu Item
      .menu .active > a
        color: $lightgreen !important
        padding-left: 20px !important
        background: url(../images/nav-current.png) no-repeat center left
        background-size: 12px

      // Submenu in mega menu
      ul.mega-sub-menu li
        h4.mega-block-title
          font-family: $serif !important
          font-style: italic
        ul#menu-our-work, ul#menu-resources, ul#menu-about-us
          display: block
          margin-left: 0
          li a
            padding: .35rem .5rem
            color: $bodytextcolor
            font-size: 1rem
            &:hover
              color: $lightgreen
        &.image
          background-color: #ebebeb !important
          height: 100%
          p.wp-caption-text
            font-size: 1.2rem
            float: left
    li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item
      padding: 30px

/*********************
/* PAGE TEMPLATE
/*********************

header.header
  background-size: cover
  height: 400px
  position: relative
  .top-bar, .top-bar ul
    background-color: transparent
    #logo a img.logo.white
      display: block
    #logo a img.logo.green
      display: none
  #heroTitle
    position: absolute
    width: 70%
    bottom: 33%
    left: 15%
    text-align: center
    h1
      color: #fff
      font-weight: 700
      font-size: 3.2rem

.entry-content, .inner-content
  padding: 2rem 0
  h2
    +sectionTitle
  .intro
    margin-bottom: 3rem
    p
      text-align: center
      font-size: 1.4rem

.entry-content
  margin-bottom: 4rem

body.page-template-default
  .entry-content, .inner-content
    h2
      margin-bottom: 0.5rem
      text-align: left



/*********************
/* SINGLE TEMPLATE
/*********************

body.single
  .inner-content
    margin-top: 2rem
  h1.entry-title.single-title
    font-size: 2rem
    margin-top: 2rem
    font-weight: 700
  p.byline
    color: $bodytextcolor
    font-weight: 600
    font-size: 1.25rem
    margin: 1rem 0 0 0
  .entry-content
    padding: 1rem 0

// ArtGibb & Small Grants
article.category-art-gibb-award, article.category-small-grants-for-smart-growth
  p.byline
    display: none

/*********************
/* ARCHIVE TEMPLATE
/*********************
body.archive, body.page-template-template-postsatbottom
  #heroTitle h3
    color: #fff
    font-style: italic
  .inner-content
    margin-top: 2rem
  article.post:nth-child(odd), div.postsAtBottom article:nth-child(odd)
    background-color: $lightgrey
  article:first-of-type
    padding-top: 0
  article
    margin-bottom: .5rem
    padding: 2rem 1rem 2rem 2rem
    .article-header h2
      text-transform: uppercase
      font-weight: 300
      font-size: 1.25rem
      margin-bottom: 0
      text-align: left
    p.byline
      color: $bodytextcolor
      font-weight: 500
      font-size: 1rem
      margin: .5rem 0 0 0
    .entry-content
      padding: .5rem 0
      margin: 0
      font-size: .9rem
    .excerpt-read-more
      .greenarrow
        margin: 3px 0 0 5px
      &:hover .greenarrow
        margin-left: 10px


/*********************
/* SIDEBAR
/*********************

.sidebar
  .widget
    margin-bottom: 2rem
    float: left
    h4.widgettitle
      color: $green
      font-size: 1.25rem
      text-transform: uppercase
      border-bottom: 1px solid #bbd09d
      padding-bottom: .5rem
  .widget_categories ul li, .DisplayCategoriesWidget ul li
    //padding-left: 26px
    //background: url('../images/svg/greenarrow.svg') no-repeat center left
    //background-size: 19px
    margin: .25rem 0
    a
      font-weight: 600
      text-transform: uppercase
      color: $bodytextcolor
      &:hover
        opacity: .65
  .widget_recent_entries li
    line-height: 1.25rem
    margin: 1.25rem 0
    color: #333
    border-left: 5px solid lightgrey
    padding-left: 5px
    a
      color: $bodytextcolor
    &:hover
      border-left: 10px solid $lightgreen


/*********************
/* HOMEPAGE
/*********************

body.home
  .top-bar, .top-bar ul
    background-color: transparent
    #logo a img.logo.white
      display: block
    #logo a img.logo.green
      display: none
  header.header
    background-size: cover
    height: 100vh
    position: relative
    #heroTitle
      position: absolute
      width: 52%
      bottom: 17%
      left: 23%
      text-align: center
      h1
        color: #fff
        font-weight: 700
        font-size: 3.2rem
      span.since
        color: #fff
        font-size: 2rem
        font-family: $serif
        font-weight: bold
        font-style: italic
        display: block
      .button
        margin-top: 2rem
  .icons
    margin: 4rem 0
    transition: all 1s ease-in-out
    img
      height: 100px
      display: block
      margin: 0 auto .75rem
      padding: .5rem
    .cell
      border-right: 1px solid #ddeacb
      padding: 0 .5rem
      &:hover img
        transform: scale(1.1)
      &:hover h4
        color: $lightgreen
    .cell:last-child
      border-right: 0
    h4
      font-size: 1rem
      text-align: center
      text-transform: uppercase
      color: $bodytextcolor
      margin-bottom: 0

.greyWrapper
  background-color: $lightgrey
  padding: 4rem 0
  .news
    margin-bottom: 3rem
    h2
      +sectionTitle
      margin-bottom: 3rem
    h4
      font-size: 1.25rem
      font-weight: 700
      padding: 1.5rem 0 .25rem
    .catLink .readmore
      +readmore
  .video
    background-color: $grey
    padding: 2rem
    position: relative
    .vidContent
      h2, p, div
        text-align: left
        color: #fff
      h2
        +lightTitle
      .leadin
        font-size: 1.2rem
        font-weight: 700
        margin-bottom: 1.5rem
        line-height: 1.5rem
      .text
        margin-bottom: 1.5rem
      a.videoLink
        position: absolute
        text-transform: uppercase
        bottom: 20px
        left: 45px
        color: #fff
        font-weight: 500
        .whitearrow
          +whitearrow
        &:hover
          opacity: .75
          .whitearrow
            +arrowHover

=victoryStyles
  .cell.post
    img
      width: 100%
    position: relative
    margin-bottom: 2rem
    a.victoryLink:hover
      opacity: .75
    .overlay
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      background: rgba(0, 0, 0, .6)
      text-align: center
      padding: 1rem
      &:hover
        cursor: pointer
      &.open
        .more, .short
          display: inline-block
          margin-top: .5rem
      h4, .short, .more
        color: #fff
      .more
        display: block
        margin: 0 auto
        text-transform: uppercase
        .whitearrow
          +whitearrow
          float: none
          display: inline-block
        &:hover
          opacity: .75
      .more, .short
        display: none
// homepage victories
.victories
  margin: 4rem 0
  h2
    +sectionTitle
  a.readmore
    float: right
    color: $bodytextcolor
    font-weight: bold
    line-height: 3rem
    +circleArrow($lightgreen, #fff)
    &:hover
      opacity: .75rem
      +arrowHover
  +victoryStyles
  a.victoryLink:hover
    opacity: .75

.missionWrapper
  padding: 4rem 0
  background: $green url('../images/swoosh.png') no-repeat top left
  background-size: cover
  .mission
    text-align: center
    h3
      font-family: $serif
      font-style: italic
      font-weight: 700
      color: #fff
      margin-bottom: 1.5rem
    p
      color: #fff
      font-size: 1.4rem
      margin-bottom: 2.5rem

.advocates
  margin: 4rem 0
  h5
    text-transform: uppercase
    font-weight: 700
    margin: .5rem 0 0
  .role
    color: $green
    font-style: italic
    font-family: $serif
    font-size: 1.3rem
  blockquote
    border-left: 0
    font-weight: 400
    font-size: 1.2rem
    line-height: 1.5rem
    color: $bodytextcolor
    font-family: $serif
    padding: 0.5625rem 1.25rem 0 .75rem


/*********************
/* KEY ISSUES TEMPLATE
/*********************

body.page-template-template-clean-energy, body.page-template-template-forests-wildlife, body.page-template-template-clean-water, body.page-template-template-smart-growth,  body.page-template-template-statehouse, body.page-template-template-act250, body.page-template-template-toxic-free
  .top-bar, .top-bar ul
    background-color: transparent
    #logo a img.logo.white
      display: block
    #logo a img.logo.green
      display: none
  header
    background-size: cover
    height: 400px
    position: relative
    #heroTitle
      position: absolute
      width: 70%
      bottom: 33%
      left: 15%
      text-align: center
      h1
        color: #fff
        font-weight: 700
        font-size: 3.2rem
        text-shadow: 0px 0px 14px #565656
  .inner-content
    margin-top: 4rem
    border-bottom: 1px solid $lightgreen
    padding-bottom: 2rem
    .key_title
      font-size: 2.25rem
      text-transform: uppercase
      font-weight: 300
    .inquiries
      text-transform: uppercase
      color: $lightgreen
      font-weight: 700
      font-size: .9rem
      margin: 1rem 0 .5rem
    .twodirectors
      padding: 2rem 0
      float: left
      width: 50%
      .matte
        +matte
      p
        margin-bottom: 0
    .director
      padding: 2rem 0
      float: left
      .matte
        +matte
      p
        margin-bottom: 0
    .keyGraphic img
      width: 80%
  .initiatives
    margin: 3rem 0
    h2.initHeader
      +sectionTitle
    img
      border-bottom: 8px solid $lightgreen
      margin-bottom: 2rem
    h3
      font-weight: 700
      font-size: 1.25rem
      margin-bottom: 1rem
    a.excerpt-read-more
      color: $lightgreen
  .artgibb
    h2, p, div
      text-align: left
      color: #fff
    h2
      +lightTitle
    .leadin
      font-size: 1.2rem
      font-weight: 700
      margin-bottom: 1.5rem
      line-height: 1.5rem
    .text
      margin-bottom: 1.5rem
    a.videoLink
      position: absolute
      text-transform: uppercase
      color: #fff
      font-weight: 500
      bottom: 20px
      .whitearrow
        +whitearrow
  .community
    margin: 5rem 0 2rem
    h2
      +lightTitle
    .leadin
      font-weight: 700
      font-size: 1.25rem
      margin-bottom: 1.5rem
    a.bold.green
      font-weight: 700
    img.vecan-logo
      width: 165px
      margin-top: 1.5rem
  .resources
    margin: 5rem 0 6rem
    h2
      +sectionTitle
    a.readmore
      +readmore
    img
      width: 75%
      margin: 0 auto 1.5rem
      display: block
      border: 1px solid #d0d0d0
    h3
      font-weight: 700
      font-size: 1.25rem
      text-align: center
    a
      color: $bodytextcolor


/*********************
/* SUPPORT TEMPLATE
/*********************
h1.page-title
  display: none
.supportUs
  .entry-content
    +list-n-TitleContent
  .intro
    margin-bottom: 3rem
    p
      font-size: 1.4rem
  .images
    ul
      list-style-type: none
      margin-left: 0
      li
        padding-bottom: 2rem
  .supportContacts
    padding: 3rem 0 2.5rem
    background-color: #f1f6eb
    a
      color: $green
      font-weight: bold
    div.matte
      width: 150px
      float: left
      +matte
    .bymail
      text-align: center
      margin-top: 3rem

/*********************
/* HOW WE WORK TEMPLATE
/*********************

body.page-template-how-we-work
  .inner-content
    padding: 4rem 0 1rem
  .entry-content
    +list-n-TitleContent
  .greyWrapper
    h2
      +sectionTitle
    .icons
      margin: 4rem 0 0
      transition: all 1s ease-in-out
      img
        height: 100px
        display: block
        margin: 0 auto .75rem
        padding: .5rem
      .cell
        border-right: 1px solid #ddeacb
        padding: 0 .5rem
        &:hover img
          transform: scale(1.1)
        &:hover h4
          color: $lightgreen
      .cell:last-child
        border-right: 0
      h4
        font-size: 1rem
        text-align: center
        text-transform: uppercase
        color: $bodytextcolor
        margin: 0 auto 0
        width: 80%
  .howSupportWrapper
    background-size: cover
    .howSupport
      padding: 6rem
      color: #fff
      text-align: center
      h2
        +lightTitle
      p
        font-size: 1.4rem
        &.thankyou
          font-family: $serif
          font-size: 2rem
          font-style: italic
          font-weight: bold
          margin-bottom: 2rem
  .footer
    margin-top: 0


.statehouse, .partnerships
  color: #fff
  padding: 3rem
  h2
    color: #fff
  svg
    display: block
    width: 150px
    max-height: 150px
    margin-bottom: 1rem

.statehouse
  background-color: $green

.partnerships
  background-color: $lightgreen
  a
    color: $green

body.page-template-template-statehouse .inner-content
  border-bottom: 0

/*********************
/* STAff PAge Template
/*********************
body.page-template-staff
  &.page-id-227
    p.contact
      display: none
  .entry-content
    margin-bottom: 2rem
    font-size: 1.4rem
    font-weight: 300
  .staff
    .cell
      background-color: #f1f1f1
      padding-bottom: 1rem
      margin-bottom: 2rem
    .cell.vcv
      background-color: transparent
      h2
        margin: 2rem 0 0
        border-bottom: 1px solid $lightgreen
    h4
      margin: 1rem 1rem 0
      font-size: 1.2rem
      color: $bodytextcolor
    div.staffTitle
      margin: 0 1rem
    .info
      display: none
  .staffTop
    float: left
    width: 40%
    margin-right: 1rem
    img
      max-width: 250px
      border-bottom: 10px solid #f1f1f1
    h4
      margin: 1rem 0 0
    .staffTitle
      text-transform: uppercase
      color: #78a13f
  .staffBottom
    float: left
    width: 55%

/*********************
/* VERS CATEGORY TEMPLATE
/*********************
body.category-vermont-environmental-reports
  div.reports .cell
    margin-bottom: 2rem


/*********************
/* VICTORIES CATEGORY TEMPLATE
/*********************

// taxonomy description
.taxonomy-description
  margin-bottom: 4rem
  p
    font-size: 1.1rem
    text-align: center

body.category-victories
  article.leadVictory
    h2
      font-size: 3rem
    .victoryDate
      font-size: 1.25rem
      font-weight: 500
      font-style: italic
    .entry-content
      columns: 3
      column-gap: 2.5rem
      font-size: 1rem
      img
        margin-bottom: 2rem
  +victoryStyles
  h2
    +sectionTitle

/*********************
/* VICTORIES SINGLE TEMPLATE
/*********************

/* line 985, /Users/Andrew/localhost/vnrc/wp-content/themes/vnrc/assets/styles/scss/_vnrc.sass */
body.category-victories, div.content.victories-single
  article.leadVictory
    header
      margin-bottom: 2rem
    h2
      font-size: 3rem
      text-align: left
      margin-bottom: 1rem
    .victoryDate
      font-size: 1.25rem
      font-weight: 500
      font-style: italic
    .entry-content
      columns: 3
      column-gap: 2.5rem
      font-size: 1rem
  +victoryStyles

/* line 707, /Users/Andrew/localhost/vnrc/wp-content/themes/vnrc/assets/styles/scss/_vnrc.sass */
// body.category-victories .cell.post .overlay.open .more, body.category-victories .cell.post .overlay.open .short, div.content.victories-single .cell.post .overlay.open .more, div.content.victories-single .cell.post .overlay.open .short {
//   display: inline-block;
//   margin-top: .5rem;
// }

body.category-victories h2, div.content.victories-single h2
  margin-bottom: 3rem
  text-align: center

body.category-victories h2
  margin: 2rem 0 3rem

/*********************
/* Act250 TEMPLATE
/*********************
body.page-template-template-act250
  .inner-content
    margin-top: 2rem
  .highlight250
    background-color: $grey
    padding: 2rem
    position: relative
    .vidContent
      h2, p, div
        text-align: left
        color: #fff
      h2
        +lightTitle
      .leadin
        font-size: 1.2rem
        font-weight: 700
        margin-bottom: 1.5rem
        line-height: 1.5rem
      .text
        margin-bottom: 1.5rem
      a.videoLink
        position: absolute
        text-transform: uppercase
        bottom: 20px
        left: 45px
        color: #fff
        font-weight: 500
        .whitearrow
          +whitearrow
        &:hover
          opacity: .75
          .whitearrow
            +arrowHover


/*********************
/* CPT TEMPLATE
/*********************
body.page-template-template-cpt, body.page-template-template-cpt-issues
  .navWrap
    background-color: #fff
    .top-bar-left #logo a
      img.logo.white
        display: none
      img.logo.green
        display: block
    a.search i.fi-magnifying-glass
      color: $bodytextcolor
    #mega-menu-wrap-main-nav #mega-menu-main-nav
      li.primary a.mega-menu-link
        color: $bodytextcolor
      li.facebook a.mega-menu-link,  li.twitter a.mega-menu-link
        color: $bodytextcolor
      li.informed a.mega-menu-link
        background-color: transparent
        border: 2px solid $bodytextcolor
        color: $bodytextcolor
        &:hover
          transition: all .3s ease-in-out
          background-color: $bodytextcolor
          color: #fff
    .button.informed
      +hollowbutton($bodytextcolor)
      &:hover
        color: #fff
  header.header
    height: 500px
  #cptTitle
    background-color: $green
    h1
      color: #fff
      text-transform: uppercase
      font-size: 2.5rem
      padding: .75rem
      margin: 0
      font-weight: 600
  .inner-content
    padding: 3rem 0
    .entry-content
      padding: 0
    h2
      margin-bottom: 1rem
      text-align: left

  #cpt_sidebar
    img
      width: 100%
    div.widget_nav_menu
      #menu-cpt-menu li
        margin-left: 10px
        margin: .25rem 0
        width: 100%
        a
          padding-left: 27px
          font-weight: 600
          background: url('../images/svg/greenarrow.svg') no-repeat center left
          background-size: 19px
          text-transform: uppercase
          color: $bodytextcolor
          &:hover
            opacity: .75
        ul.sub-menu
          margin-left: 1rem
          li a
            font-weight: 400
            text-transform: capitalize
            background-image: none
          li.active
            position: relative
            a::before
              position: absolute
              content: ""
              width: 0
              height: 0
              border-top: 10px solid transparent
              border-bottom: 10px solid transparent
              border-left: 10px solid $lightgreen
              left: 8px
      #menu-cpt-menu li.active
        background-color: #fcf5ee
        color: $lightgreen

// Issues Search styles
input.is-search-input
  border-top-left-radius: 20px !important
  border-bottom-left-radius: 20px !important
  width: 60%
  float: left
  border-right: 0 !important
input.is-search-submit
  border-top-right-radius: 20px !important
  border-bottom-right-radius: 20px !important
  font-weight: bold
  padding: 11px 20px !important
  &:hover
    background-color: #699033
button.browseIssues
  line-height: 1.5rem
  span
    font-size: 2rem
    line-height: 1rem
    display: block
    float: right
    margin-top: 2px
div#issues-dropdown
  ul
    list-style-type: none
    margin-left: .5rem
    li
      padding: .5rem
      border-bottom: 1px solid #eae3dc
      &:hover
        background-color: #fdfbf9


/*********************
/* SEARCH TEMPLATE
/*********************
body.search-results
  #heroTitle h1 span
    font-style: italic
    font-weight: 300
  .inner-content
    header.article-header
      h2
        margin-bottom: 1rem
        text-align: left
      .byline
        margin-bottom: 0
  article
    margin: 3rem 0 0
    border-bottom: 1px solid #cacaca
    padding-bottom: 3rem
    .entry-content
      margin-bottom: 0
      padding: 0
    .excerpt-read-more
      padding-top: 1rem
      .greenarrow
        margin: 3px 0 0 5px

/*********************
/* STAND ALONE ELEMENTS
/*********************

.fb-video blockquote p
  color: #e2e2e2

// Contact Page Social icons
body.page-id-229 .entry-content
  i.fi-social-facebook, i.fi-social-twitter
    font-size: 2.5rem
  i.fi-social-facebook
    margin-right: 1rem

// Pagination
.page-navigation
  margin-top: 3rem
  ul.pagination li
    font-size: 1.25rem

/*********************
/* ANNOUNCEMENT BAR
/*********************
.announcement
  padding: 3rem
  position: relative
  &.red
    background-color: $orange
    color: #fff
    a
      color: #fff
    .button
      background-color: #fff
      color: $orange
      border-color: #fff
      &:hover
        background-color: transparent
  &.grey
    background-color: #6f7d74
    color: #fff
    a
      color: #fff
    .button
      background-color: fff
      color: #6f7d74
      border-color: #fff
      &:hover
        background-color: transparent
  #closeit
    position: absolute
    bottom: 20px
    right: 20px
    color: #fff
    font-weight: bold


/*********************
/* FOOTER
/*********************

footer.footer
  background-color: #f4f7f6
  border-top: 10px solid $lightgreen
  padding-top: 3rem
  margin-top: 3rem
  .cell.reports, .cell.subscribe
    padding: 0 1.5rem 2.5rem
    color: $green
    h4
      font-weight: 700
      font-size: 1.4rem
    p
      font-family: $serif
      font-size: 1.2rem
      line-height: 1.5rem
    a
      color: $green
      font-weight: 700
      text-decoration: underline
    a.button
      color: #fff
      text-decoration: none
      margin: 1rem 0
      font-family: $headingStack
  .reports
    img
      float: left
      width: 30%
      margin-right: 1rem
  .bottomFooterWrapper
    background-color: $bodytextcolor
    color: #fff
    padding-top: 3rem
    h5
      font-size: 1rem
      font-weight: 700
    p
      font-size: .75rem
    .cell
      padding: 0 3rem
    .vnrc
      border-right: 1px solid $lightgreen
      img
        padding-bottom: 1rem
      p
        text-transform: uppercase
    .associates
      border-right: 1px solid $lightgreen
      img
        margin-top: 1rem
        &.vcv
          float: left
          width: 35%
          margin-right: 4rem
        &.vecan
          float: right
          width: 43%
          margin-top: 1.15rem
    .links
      .follow, .support
        line-height: 2rem
        float: left
        width: 45%
        h5
          margin-bottom: 1rem
      .button.orange
        font-size: .85rem
      i
        font-size: 2rem
        color: #fff
        margin-right: 1rem
      p
        color: #b7b7b7
        line-height: 1rem
        font-size: .65rem
        float: left
        margin-top: 1rem
    .pageinfo
      margin-top: 2rem
      color: #b7b7b7
      background-color: $bodytextcolor
      p
        font-size: .85rem
        a
          color: #828282
          &.hover
            color: #fff
